<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="outlineBorder">
        <h2 class="header">Konfiguration:</h2>
        <input matInput type="text" class="form-control" formControlName="id" hidden>

        <div class="group">
            <mat-label for="name" class="subsectionHeader">Anzeigenname:</mat-label>
            <input matInput type="text" class="form-control" formControlName="name">
        </div>

        <div class="group">
            <mat-label class="subsectionHeader">Features der Anzeige:</mat-label>
            <mat-checkbox type="checkbox" class="form-control" formControlName="useAccidentsThisYear">Unfälle dieses Jahr </mat-checkbox>
            <mat-checkbox type="checkbox" class="form-control" formControlName="useAccidentsLastYear">Unfälle letztes Jahr</mat-checkbox>
            <mat-checkbox type="checkbox" class="form-control" formControlName="useDaysWithoutAccidents">Tage seit dem letzten Unfall</mat-checkbox>
            <mat-checkbox type="checkbox" class="form-control" formControlName="useDaysWithoutAccidentsHighscore">Meisten Tage ohne Unfall</mat-checkbox>

            <div class="outlineBorder">
                <mat-checkbox type="checkbox" formControlName="useGtxText" (change)="onUseGtxTextChanged()"> Textanzeige</mat-checkbox>
                <div>
                    <label>Anzahl der Zeilen (1/2):</label>
                    <input matInput type="number" class="form-control" formControlName="gtxRows">
                    <label for="gtxTextLength">Anzahl der Zeichen je Zeile (16/24):</label>
                    <input matInput type="number" class="form-control" formControlName="gtxTextLength">
                </div>
            </div>
        </div>

        <div class="group">
            <mat-label class="subsectionHeader">Schnittstelle:</mat-label>
            <br>
            <mat-radio-group formControlName="displayInterface" class="form-control" (change)="setInterfaceValidators()">
                <mat-radio-button value="Network">Netzwerkschnittstelle</mat-radio-button>
                <mat-radio-button value="RS232">Serielleschnittstelle</mat-radio-button>
            </mat-radio-group>

            <div class="outlineBorder">
                <div class="center" style="margin-bottom: 5px;">
                    <button mat-raised-button color="primary" type="button" (click)="addInterface()">Neues Interface</button>
                    <button mat-raised-button color="primary" type="button" (click)="deleteSelectedInterface()" [disabled]="selectedInterfaceIndex == -1">Interface löschen</button>
                </div>

                <mat-selection-list [multiple]="false" class="form-control list" formArrayName="interfaces">
                    <mat-list-item *ngFor="let interface of getInterfaceControls(); let i = index" class="select">
                        <input matInput [formControlName]="i" placeholder="Schnittstelle" (click)="onInterfaceSelected(i)" class="matlistitemInput">
                    </mat-list-item>
                </mat-selection-list>

            </div>



        </div>

        <div class="group">
            <mat-label class="subsectionHeader">Sonstiges:</mat-label>
            <mat-checkbox type="checkbox" class="form-control" formControlName="manualModus" 
            matTooltip="Die Einstellung manueller Modus bestimmt, ob man eigene Werte in folgende Felder eintragen kann: Unfälle dieses Jahr, Unfälle letztes Jahr, Meisten Tage ohne Unfall, Meisten Tage ohne Unfall Rekord. 'an' = ja; 'aus' = nein"
            > Manueller Modus</mat-checkbox>
        </div>

        <div class="group center">
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Speichern</button>
            <button mat-raised-button color="basic" type="button" (click)="onReset()">Zurücksetzten</button>
        </div>
    </div>
</form>