mat-radio-button{
    margin: 3px;
}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {
    width: 30px;
    height: 30px;
}

.matlistitemInput{
    width: 100%;
}

.list{
    max-height: 100px;
    overflow: auto;
}

.checkbox{
    color: #3F51B5;
}

.radio{
    color: #3F51B5;
}