<mat-toolbar style="width: 100%;" color="primary">
  <img src="assets/Schauf_Logo.png" style="width: 70px; height: 70px;"/>


  <label class="label">{{ PageTitle }}</label>


  <button mat-icon-button  [matMenuTriggerFor]="menu" class="menu" >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="menuInhalt">
    <button mat-menu-item class="menuInhalt" routerLinkActive="active" routerLink="/Anzeigen" (click)="setPageTitle('Unfallanzeigensteuerung')">
      <span>Unfallanzeigensteuerung</span>
    </button>
    <button mat-menu-item class="menuInhalt" routerLinkActive="active" routerLink="/Konfiguration" (click)="setPageTitle('Konfiguration')">
      <span >Konfiguration</span>
    </button>
    <!-- <button mat-menu-item class="menuInhalt" routerLinkActive="active" routerLink="/Layoutdesigner" (click)="setPageTitle('Layoutdesigner')">
      <span >Layoutdesigner</span>
    </button> -->
    <button mat-menu-item class="menuInhalt" routerLinkActive="active" routerLink="/Monitor" (click)="setPageTitle('Monitor')">
      <span >Monitor</span>
    </button>
  </mat-menu>
 
  
</mat-toolbar>

<router-outlet></router-outlet>