mat-toolbar{
    color: "primary";
}

.menu {
    background-color: #3F51B5;
    color: white;
    border: none;

}


.menuInhalt{
    background-color: #3F51B5 !important;
    color: white;
    border: none;
    border-style: none;
    border-color: black;
    outline: none;
    lighting-color: black;
}

.menuInhalt:focus{
    outline:none;
    box-shadow: none;
}
.menu:focus{
    outline:none;
    box-shadow: none;
}

span{
    margin: 5px;
}

.label{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 32px;
    font-weight: normal;
}