<div class="row">
    <mat-label class="col-8 displayText displayLabel">Tage ohne Unfälle:</mat-label>
    <input MatInput class="col-4 displayInput accident" appNumberOnly maxlength="4" [value]="accidents" (change)="updateAccidents($event)" [disabled]="!manuelModus">
</div>