.col {
    height: 100hv;
}

.row{
    width: 100%;
}

.subsectionHeader{
    font-size: 19px ;
}

.group{
    margin-bottom: 7px;
}

.header{
    text-decoration: underline;
    text-align: center;
    font-size: 24px;
}

.center{
    width: 100%;
    display: block;
    text-align: center;
}

button{
    margin-right: 5px;
}