mat-selection-list{
    max-height: 80vh;
    overflow: auto;
  }

mat-list-option {
    border: solid 1px #CED4DA;
    
}

mat-list-option:hover{
    background-color: #8898f7;
}

.mat-list-item.mat-list-single-selected-option {
    background: #3F51B5;
    color: white;
  }


