<ng-container>
    <div class="row">
        <div class="col-3">
            <div class="outlineBorder">
                <h2 class="header">Anzeigen:</h2>

                <div class="group">
                    <mat-selection-list [multiple]="false">
                        <mat-list-option *ngFor="let display of displays; let i = index" (click)="onSelectDisplay(i)" [selected]="i==selectedDisplayIndex">{{ display.name }}</mat-list-option>
                    </mat-selection-list>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="col-12">
                <app-display [display]="selectedDisplay" (displayChanged)="onDisplayChanged($event)"></app-display>
            </div>
        </div>

        <div class="col-3">
            <div class="outlineBorder">
                <h2 class="header">Einstellungen:</h2>
                <div class="group outlineBorder">
                    <mat-label class="subsectionHeader" >Elemente:</mat-label>

                    <input value="asdflökjasdf" cdkDrag/>
                    <div cdkDrag> asdf</div>
                </div>
                <div class="group outlineBorder">
                    <mat-label class="subsectionHeader">Eigenschaften:</mat-label>

                </div>
            </div>
        </div>


    </div>
</ng-container>