<ng-container>
    <div class="row">
        <div class="col-3">
            <div class="outlineBorder">
                <h2 class="header">Anzeigen:</h2>

                <div class="group">
                    <mat-selection-list [multiple]="false">
                        <mat-list-option *ngFor="let display of displays; let i = index" (click)="onSelectDisplay(i)" [selected]="i==selectedDisplayIndex">{{ display.name }}</mat-list-option>
                    </mat-selection-list>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="outlineBorder" style="max-height: 62vh;">
                <h2 class="header">Schnittstellen:</h2>

                <div class="group">
                    <mat-selection-list [multiple]="false" style="max-height: 53vh;">
                        <mat-list-option *ngFor="let interface of selectedDisplay.interfaces; let i = index" (click)="onSelectInterface(i)" [selected]="i==selectedInterfaceIndex">{{ interface }}</mat-list-option>
                    </mat-selection-list>
                </div>
            </div>

            <div class="outlineBorder">
                <h2 class="header">Log:</h2>

                <div class="group">
                    <div class="col-12">
                        <textarea class="col-12" rows="9" cols="200" disabled="true">{{ logText }}</textarea>
                    </div>
                    <div class="col-12 center">
                        <button mat-raised-button color="primary" type="button" (click)="clearLog()">Lösche Log</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-6">
            <div class="col-12">
                <app-display [display]="selectedDisplay" (displayChanged)="onDisplayChanged($event)"></app-display>
            </div>

            <div class="group center" style="margin-top: 5px">
                <button mat-raised-button color="primary" type="button" (click)="reportAccident()" *ngIf="selectedDisplay.useAccidentsLastYear || selectedDisplay.useAccidentsThisYear || selectedDisplay.useDaysWithoutAccidents || selectedDisplay.useDaysWithoutAccidentsHighscore">
                    Melde Unfall <mat-icon aria-label="Neue Anzeige">warning</mat-icon>
                </button>
                <button mat-raised-button color="primary" type="button" (click)="sendData()">
                    Sende Daten <mat-icon aria-label="Anzeige löschen">send</mat-icon>
                </button>
            </div>

            <div class="outlineBorder row" *ngIf="selectedDisplay.useAccidentsLastYear || selectedDisplay.useAccidentsThisYear || selectedDisplay.useDaysWithoutAccidents || selectedDisplay.useDaysWithoutAccidentsHighscore">
                <div class="row" style="margin-bottom: 5px;" >
                    <div class="col-5 text">
                        <mat-label class="text">Anzeigenzeit:</mat-label>
                    </div>
                    <div class="col-3">
                        <input matInput type="text" class="form-control" [value]="selectedDisplay.time ? selectedDisplay.time : '00:00'" (change)="setTime($event)">
                    </div>
                    <div class="col-1 text"> - </div>
                    <div class="col-3">
                        <input matInput type="text" class="form-control" [value]="selectedDisplay.date ? selectedDisplay.date : '00.00.00'" (change)="setDate($event)">
                    </div>
                    <span *ngIf="!isTimeValid" >Zeit: Die Zeit muss in folgendem Format angegeben werden: 'HH:MM'</span>
                    <span *ngIf="!isDateValid" >Datum: Das Datum muss in folgendem Format angegeben werden: 'TT.MM.JJ'</span>
                </div>

                <div class="center">
                    <button mat-raised-button color="primary" type="button" (click)="sendSystemTime()">
                        Sende Systemzeit <mat-icon aria-label="Neue Anzeige">access_time</mat-icon>
                    </button>
                    <button mat-raised-button color="primary" type="button" (click)="saveTime()" [disabled]="!isTimeValid && !isDateValid">
                        Speicher Zeit <mat-icon aria-label="Anzeige löschen">save</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-container>