textarea {
    resize: none;
    max-height: 200px;
    margin-top: 5px;
    border-color: #CED4DA;
    
}

.button {
    width: 100%;
    margin-top: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92vh;
}

.text {
    margin-top: 5px;
    height: auto;
    text-align: center;
    font-size: 20px;
}