<ng-container>
    <div class="row">
        <div class="col-3">
            <div class="outlineBorder">
                <h2 class="header">Anzeigen:</h2>

                <div class="group center">
                    <button mat-raised-button color="primary" type="button" (click)="newDisplay()">
                        <mat-icon aria-label="Neue Anzeige">add_circle</mat-icon>
                    </button>
                    <button mat-raised-button color="primary"  type="button" (click)="deleteSelectedDisplay()" [disabled]="selectedDisplayIndex == -1">
                        <mat-icon aria-label="Anzeige löschen">delete</mat-icon>
                    </button>
                    <button mat-raised-button color="primary" type="button" (click)="duplicateSelectedDisplay()" [disabled]="selectedDisplayIndex == -1">
                        <mat-icon aria-label="Anzeige verdoppeln">content_copy</mat-icon>
                    </button>
                    <mat-selection-list [multiple]="false">
                        <mat-list-option *ngFor="let display of displays; let i = index" (click)="onEditItem(i)" [selected]="i==selectedDisplayIndex">{{ display.name }}</mat-list-option>
                    </mat-selection-list>
                </div>
            </div>
        </div>

        <div class="col-3">
            <app-display-configuration-form (displayConfig)="configChanged($event)"></app-display-configuration-form>
        </div>
        
        <div class="col-6">
            <h2 class="header">Layout:</h2>
            <div style="margin-top: 5%">
                <app-display [display]="currentDisplayConfig"></app-display>
            </div>
        </div>
    </div>
</ng-container>