<div class="row">
    <mat-label class="col-8 displayText displayLabel">Unfälle dieses Jahr:</mat-label>
    <input MatInput class="col-4 displayInput accident" appNumberOnly maxlength="2" [value]="accidents" (change)="updateAccidents($event)" [disabled]="!manuelModus">
</div>