<div class="row">
    <input matInput class="displayInput notification" [value]="row1" [attr.maxlength]="rowsCount >= 2 ? characterCount : null" (change)="updateTextRow($event, 1)">
</div>
<div class="row" *ngIf="rowsCount >= 2">
    <input matInput class="displayInput notification" [value]="row2" (change)="updateTextRow($event, 2)">
</div>