.row {
    margin: 2px;
}

.display {
    background-color: black;
    border-color: rgb(167, 167, 167);
    border-width: 5px;
    border-style: solid;
    height: auto;
    min-height: 50px;
    padding: 3px;
}

.displayText{
    background-color: black;
    color: white;
    align-items: center;
}

.displayHeader{
    text-decoration: underline;
    text-align: center;
    font-size: 35px;
    height: 60px;
    width: 99%;
    display: grid;
}


.displayLabel{
    font-size: 30px;
    display: flex;
}

.displayInput{
    background-color: black;
    border-color: rgb(167, 167, 167);
    border-width: 2px;
    border-style: solid;
    color: red;
    padding: 4px;
    height: 50;
    font-size: 40px;

    -webkit-appearance:none; 
    -moz-appearance: none; 
}

.accident {
    text-align: right;
    font-family: 'numeric';
}

.notification {
    font-family: 'editundot';
    text-align: center;
    margin: 2px;
}