<div class="display">
    <div class="row">
        <mat-label class="displayText displayHeader">{{ display.name }}</mat-label>
    </div>
    <app-accidents-this-year *ngIf="display.useAccidentsThisYear" [accidents]="display.displayContent.accidentsThisYear" (accidentsChange)="updateAccidentsThisYear($event)" [manuelModus]="display.manualModus" ></app-accidents-this-year>
    <app-accidents-last-year *ngIf="display.useAccidentsLastYear"  [accidents]="display.displayContent.accidentsLastYear" (accidentsChange)="updateAccidentsLastYear($event)" [manuelModus]="display.manualModus"></app-accidents-last-year>
    <app-days-without-accidents *ngIf="display.useDaysWithoutAccidents"  [accidents]="display.displayContent.daysWithoutAccidents" (accidentsChange)="updateDaysWithoutAccidents($event)" [manuelModus]="display.manualModus"></app-days-without-accidents>
    <app-days-without-accidents-highscore *ngIf="display.useDaysWithoutAccidentsHighscore"  [accidents]="display.displayContent.daysWithoutAccidentsHighscore" (accidentsChange)="updateDaysWithoutAccidentsHighscore($event)"  [manuelModus]="display.manualModus"></app-days-without-accidents-highscore>
    <app-gtx-text *ngIf="display.useGtxText" [rowsCount]="display.gtxRows" [characterCount]="display.gtxTextLength" [row1]="display.displayContent.gtxTextFirstRow" [row2]="display.displayContent.gtxTextSecoundRow" (row1Change)="updateRow1($event)" (row2Change)="updateRow2($event)"></app-gtx-text>
</div>