/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face{
    font-family: 'editundot';
    src: Url(./assets/fonts/edundot.ttf) format('TrueType');
}

@font-face {
    font-family: 'numeric';
    src: url(./assets/fonts/Segment7-4Gml.otf) format("opentype");
  }