<ng-container>
    <div class="row">
        <div class="col-1" *ngIf="hideDisplaySelect">
            <button class="hideButton" mat-button type="button" (click)="hideDisplaySelectClicked()">
                <mat-icon aria-label="Aufklappen">navigate_next</mat-icon>
            </button>
        </div>
        <div class="col-3" *ngIf="!hideDisplaySelect">
            <div class="outlineBorder">
                <div class="row">
                    <button class="hideButton col-1" style="margin-left: 20px;" mat-button type="button" (click)="reload()">
                        <mat-icon aria-label="Neuladen">loop</mat-icon>
                    </button>
                    <h2 class="header col">Anzeigen:</h2>
                    <button class="hideButton col-1" mat-button type="button" (click)="hideDisplaySelectClicked()">
                        <mat-icon aria-label="Zuklappen">chevron_left</mat-icon>
                    </button>
                </div>

                <div class="group">
                    <mat-selection-list [multiple]="false">
                        <mat-list-option *ngFor="let display of displays; let i = index" (click)="onSelectDisplay(i)" [selected]="display._id==selectedDisplayID">{{ display.name }}</mat-list-option>
                    </mat-selection-list>
                </div>

            </div>
        </div>

        <div class="{{ displayColClass }}">
            <app-display [display]="selectedDisplay"></app-display>
        </div>
    </div>
</ng-container>